* {
  font-family: 'Courier New';
}


.jumbotron {
background-image: url("images/ramsay.gif");
background-size: cover;
background-repeat: no-repeat;
background-attachment: local;
color: #ffffff;
padding: 200px 25px 200px 25px;
}

.glyphicon{
  font-size: 200%;
  padding: 16px 8px 12px 8px;
}

#spacer1{
  background-image: url('images/castironpots.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.spacer{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 180px;
}

.howitworks{
  padding: 50px 25px 75px 25px;

}

.bg-chalk {
  padding-top: 150px;
  padding-bottom: 150px;
  border: 8px solid aliceblue;
  background-image: url("images/chalkboard.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

.rsvpbg{
  background-position: center;
  background-attachment: local;
  background-image: url(images/castironpots.jpg);
  padding-top: 250px;
  padding-bottom: 250px;
}

#rsvpdiv{
  background-color: ghostwhite;
}

.bg-2{
  background-image: url("images/brushback.jpg");
}

.bg-3{
color: ghostwhite;
}

#closer{
  text-align: left;
  font-size: smaller;
  padding-top: 8px;
  color: aliceblue;
  background-image:url("images/chalkboard.jpeg");
  border-bottom: 4px solid red;
}

p {
  color: white;
  padding: 8px;
  font-size: 110%;
}

h1 {
  color: aliceblue;
  font-size: 350%;
  letter-spacing: 3px;
  padding: 8px;
  text-shadow: 2px 2px white;
}

h2 {
  color: aliceblue;
}

h3 {
  color: firebrick;
}

h4 {
  color: firebrick;
}


li a:hover{
  color: red;
  background-color: white;
  border-top: 2px solid rgb(219,45,33);
}


/*button{
  display: inline-block;
  padding: 12px;
  position: relative;
  color: floralwhite;
  background-color: darkgray;
  opacity: .8;
  border-color: gray;
  border-radius: 12px;
  font-size: 36px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

button:hover{
  color: floralwhite;
  background-color: firebrick;
  font-weight: bolder;
  opacity: 1.0;
}

button:active{
  transform: translateY(4px); //adds pushed effect
} */
